
{% if user.is_authenticated %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="#">Hello, {{ user.get_username }}</a></li>
    <li>

        <a href="{% url 'logout' %}" class="btn btn-danger navbar-btn">Вийти</a>

    </li>

</ul>

{% else %}

<form class="navbar-form navbar-right" method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-group">
        <input type="text" placeholder="Login" name="username" class="form-control">
    </div>

    <div class="form-control">
        <input type="password" placeholder="Password" name="password" class="form-control">


    </div>

    <button type="submit" class="btn btn-success">Вхід</button>


</form>

{% endif %}